@font-face {
  font-family: 'Saans';
  src: url('/assets/font/SaansRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('/assets/font/SaansMedium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('/assets/font/SaansBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

body {
  background-color: #feffff;
  font-family: var(--font-sans);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
